*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background: #000;
    display: block;
    width: 100%;
    height: 100px;
    margin: 20px;
}

.flex{
    margin: 10px;
    display: grid;
    border: 1px solid red;
    grid-template: auto auto / auto 200px auto;
}

